<ion-view view-title="Edit Photo">
  <ion-content>
		
	
    <div ng-controller="AppCtrl">
		{{counter}}   
	</div>  

	
	<div class="row">
		<div class = "col col-25">. </div>
		<div class = "col col-50">. <img src="giraffes.jpg"></div>
		<div class = "col col-25">. </div>
	</div>
   
	<div class="row">
		<div class = "col col-20">. </div>
	
		<button class="button button-large">
			Use This Photo
		</button>
		<button class="button button-large">
			Take Another One
		</button>
	
	</div>
	
	
	
  </ion-content>
</ion-view>
