<ion-view>
    <ion-nav-title class="titleFont">Home
    </ion-nav-title>
    <ion-content id="backgroundC">
        <div ng-repeat="item in allCurrentRoom.slice().reverse()">
            <div class="list card">
                <div id="avtC" class="item item-avatar">
                    <img ng-src="img/Homer_Simpson2.jpg">
                    <h2>{{item.artist}}</h2>
                    <p>April 1, 2015</p>
                </div>
                <div class="item item-image">
                    <img ng-src="{{item.url}}">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>