

<ion-view>
<ion-nav-title class="titleFont" >Home
</ion-nav-title>
	<ion-content id="backgroundC">

  		<div class="list card">
  			<div id="avtC" class="item item-avatar" >
    			<img  ng-src="img/Homer_Simpson2.jpg">
    			<h2>Marty McFly</h2>
    			<p>April 1, 2015</p>
    		</div>
    		<div class="item item-image">
    			<img ng-src="img/mountain_1.jpg">
    		</div>
  		</div>

      <div class="list card">
        <div id="avtC" class="item item-avatar" >
          <img  ng-src="img/Homer_Simpson2.jpg">
          <h2 class="test">Nico Nagel</h2>
          <p>April 1, 2015</p>
        </div>
        <div class="item item-image">
          <img ng-src="img/surf-the-wave.jpg">
        </div>
      </div>

      <div class="list card">
        <div id="avtC" class="item item-avatar" >
          <img  ng-src="img/Homer_Simpson2.jpg">
          <h2 class="test">Wilson Lamb</h2>
          <p>April 1, 2015</p>
        </div>
        <div class="item item-image">
          <img ng-src="img/nick_rosza-chris_straley.jpg">
        </div>
      </div>

 	</ion-content>
</ion-view>
