<ion-view view-title="photo edit">
    <ion-content scroll="false">
        <canvas id="canv" style="border:1px solid black;" width="400" height="300"></canvas>
        <div class="edit-photo-margin-top row">
            <div class="col col-25 center-text">
                <a class="button button-clear button-positive button-icon icon ion-minus-round" ng-click="decreaseBrightness()"></a>
            </div>
            <div class="col col-50 center-text">
                <h3 id="brightness-text">Brightness</h3>
            </div>
            <div class="col col-25 center-text">
                <a class="button button-clear button-positive button-icon icon ion-plus-round" ng-click="increaseBrightness()"></a>
            </div>
        </div>
        <div class="row">
        	<div class="col col-20 center-text">
                <button class="button button-outline button-royal" ng-click="changeDRA()" id="draId">DRAWING</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-20 center-text">
                <button class="button button-outline button-dark" ng-click="changeBW()" id="bwId">B/W</button>
            </div>
            <div class="col col-20 center-text">
                <button class="button button-outline button-stable" ng-click="changeINV()" id="invId">INV</button>
            </div>
            <div class="col col-20 center-text">
                <button class="button button-outline button-positive" ng-click="changeSEP()" id="sepId">SEP</button>
            </div>
            <div class="col col-20 center-text">
                <button class="button button-outline button-balanced" ng-click="changeNOI()" id="noiId">NOI</button>
            </div>
            <div class="col col-20 center-text">
                <button class="button button-outline button-royal" ng-click="changePXL()" id="pxlId">PXL</button>
            </div>
        </div>
        <div class="button-bar">
            <a class="button button-assertive" ng-click="disableAll()">Disable All</a>
        </div>
    </ion-content>
</ion-view>