<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-conent>
      <ion-list>
        <!-- Change the login to My Home when log in -->
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/home">
          <i class="icon ion-home menu-margin-right"></i> Home
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          <i class="icon ion-search menu-margin-right"></i>Search Users
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          <i class="icon ion-person menu-margin-right"></i>User
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/edit_main">
          <i class="icon ion-image menu-margin-right"></i>Photo Edit
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
