<ion-view>
<ion-nav-title class="titleFont">Options
</ion-nav-title>
  <ion-content id="backgroundC">
  	<div class="col">
  		<div class="row" id ="rowSpaceing" >
  			<button class="button button-full button-positive button-large icon-left ion-camera" ng-click="goToTakePhoto()">Take Photo</button><!--here needs to have function to take the picture-->
  		</div>

  		<div class="row" style="margin-top:40px">
  			<button class="button button-full button-positive button-large icon-left ion-archive" ng-click="goSelectPhoto()" id="select-photo">Select Photo</button>
  		</div>

  		<div class="row" style="margin-top:40px">
  			<button class="button button-full button-positive button-large icon-left ion-settings" ng-click="goEditPhoto()">Edit Photo Mockup</button>
  		</div>
  	</div>
  </ion-content>
</ion-view>
