<ion-view view-title="Choose Method">
  <ion-content>
  	<div class="row">
  		<div class="col col-33" >
  			<button class="button button-outline button-positive" ng-click="goToTakePhoto()" id="take-photo">Take Photo</button>
  		</div>

  		<div class="col col-33">
  			<button class="button button-outline button-positive" ng-click="goSelectPhoto()" id="select-photo">Select Photo</button>
  		</div>

  		<div class="col col-33">
  			<button class="button button-outline button-positive" ng-click="goEditPhoto()" id="edit-photo">Edit Photo Mockup</button>
  		</div>
  	</div>
  </ion-content>
</ion-view>
