<ion-view view-title="Friends List">
  <ion-content id="../img/test-b">
  <h2 id="center-text">Choose Friend To Edit with</h2>
  <div class="list card">
    <div class="item item-avatar">
      <img ng-src="../img/Marty.jpg">
      <h2>Marty Smith</h2>
    </div>
  </div>

  <div class="list card">
    <div class="item item-avatar">
      <img ng-src="../img/JeranUlrich.jpg">
      <h2>Jeran Ulrich</h2>
    </div>
  </div>

  <div class="list card">
     <div class="item item-avatar">
        <img ng-src="../img/Sam.jpg">
        <h2>Sam Louis</h2>
      </div>
    </div>
  </div>

  </ion-content>

</ion-view>