<ion-view view-title="Friends List">
  <ion-content id="test-b">
    <h1 id="test">Friends List</h1>



<div class="list card">

  <div class="item item-avatar">
    <img ng-src="Marty.jpg">
    <h2>Marty Smith</h2>
  </div>

<div class="list card">

  <div class="item item-avatar">
    <img ng-src="JeranUlrich.jpg">
    <h2>Jeran Ulrich</h2>
  </div>

<div class="list card">

 <div class="item item-avatar">
    <img ng-src="Sam.jpg">
    <h2>Sam Louis</h2>
  </div>


</div>
  </ion-content>
</ion-view>