<ion-modal-view id="backgroundC">
    <ion-header-bar id="backgroundC">
        <div class="title titleFont"style="margin-top:5px">Signup</div>
        <div class="buttons">
            <button class="button button-clear loginFont" ng-click="closeSignup()" style="margin-top:1px">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSignup()" style="margin-top:25px">
            <div class="list">
                <label class="item item-input" id="loginBackground">
                    <span class="input-label userInfoFont">Email</span>
                    <input type="text" ng-model="signupData.username">
                </label>
                <label class="item item-input" id="loginBackground">
                    <span class="input-label userInfoFont">Password</span>
                    <input type="password" ng-model="signupData.password">
                </label>
                <label class="item" id="loginBackground">
                    <button class="button button-block button-positive titleFont" type="submit">Signup</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>